.privilege {
  margin: 0 auto 0;
  max-width: 1280px;
  min-width: 320px;
  background-color: #fff;
}

.privilege__container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* overflow: hidden;  */
}

.privilege__title-container {
  /* margin: 110px auto 0;
  padding-bottom: 45px;
  text-align: left;
  width: 1140px;
  border-bottom: 1px solid #DADADA; */
}

.privilege__title {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 27px;
  color: #94C31F;
  /* outline: 1px solid red ; */
}

.privilege__foto {
  background-size:cover;
  background-repeat: no-repeat;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.privilege__name {
  margin-top: 46px;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
}

.privilege__about {
  margin-top: 0;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.privilege__description {
  margin: 26px 0 0 ;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  overflow-wrap: break-word;
}

.privilege__nav {
  margin-top: 30px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  /* outline: 1px solid red; */ 
}

.privilege__button {
  width: 190px;
  height: 60px;
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  border-radius: 10px;
  background-color: #94C31F;
}

.privilege__button-gradient {
  background-image: url(../../images/gradient.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right;
}

.privilege__link {
  color: #fff;
  text-decoration: none;
  z-index: 1;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.privilege__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease 0s;
}

 @media screen and (max-width: 1350px) {
  .privilege {
    max-width: 1080px;
  }

  .privilege__nav {
    margin-top: 30px;
    padding-bottom: 40px; 
  }
  
  .privilege__button {
    width: 165px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    border-radius: 10px;
    background-color: #94C31F;
    color: #FFFFFF;
  }  
}

@media screen and (max-width: 1280px) {
  .privilege {
    max-width: 768px;
  }

  .privilege__title {
    font-size: 27px;
  }

  .privilege__nav {
    margin-top: 30px;
    padding-bottom: 40px; 
  }
  
  .privilege__button {
    width: 120px;
    font-size: 11px;
    line-height: 12px;
  }  
}

@media screen and (max-width: 720px) {
  .privilege__description {
    width: 205px;
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 640px) {
  .privilege {
    padding: 0;
  }

  .privilege__container {
    width: 292px;
  }

  .privilege__title-container {
    width: 292px;
    margin-top: 55px;
    padding-bottom: 28px;
  }
  
  .privilege__title {
    font-size: 18px;
    line-height: 21px;
  }
  
  .privilege__name {
    max-width: 292px;
    font-size: 30px;
    line-height: 36px;
    margin: 40px auto 0;
  }
  
  .privilege__about {
    width: 292px;
    margin: 20px auto 0;
    font-size: 11px;
    line-height: 16px;
  }

  .privilege__description {
    width: 295px;
    margin: 20px auto 0;
  }
  
  .privilege__foto {
    position:static;
    width: 292px;
    height: 352px;
    margin: 60px auto 0;
  }

  .privilege__links {
    width: 292px;
    margin: 40px auto 0;
    justify-content: flex-start;
    gap: 26px;
  }
} 
