.privilege {
  margin: 0 auto 0;
  max-width: 1280px;
  min-width: 320px;
  background-color: #fff;
}

.privilege__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privilege__title-container {
  /* margin: 110px auto 0;
  padding-bottom: 45px;
  text-align: left;
  width: 1140px;
  border-bottom: 1px solid #DADADA; */
}

.privilege__title {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 27px;
  color: #94C31F;
}

.privilege__foto {
  background-size:cover;
  background-repeat: no-repeat;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.privilege__name {
  margin-top: 46px;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
}

.privilege__about {
  margin-top: 0;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.privilege__description {
  margin: 26px 0 0 ;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  overflow-wrap: break-word;
}

.privilege__nav {
  margin-top: 30px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.privilege__button {
  cursor: pointer;
  width: 190px;
  height: 60px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C6C6C6;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
}

.privilege__button-gradient {
  background-color: #94C31F;
  color: black;
}

.privilege__link {
  color: #fff;
  text-decoration: none;
  z-index: 1;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.privilege__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease 0s;
}

 @media screen and (max-width: 1350px) {
  .privilege {
    max-width: 1080px;
  }

  .privilege__nav {
    margin-top: 30px;
    padding-bottom: 40px; 
  }
  
  .privilege__button {
    width: 165px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
  }  
}

@media screen and (max-width: 1280px) {
  .privilege {
    max-width: 768px;
  }

  .privilege__title {
    font-size: 27px;
  }

  .privilege__nav {
    margin-top: 30px;
    padding-bottom: 40px; 
  }
  
  .privilege__button {
    width: 120px;
    font-size: 11px;
    line-height: 12.5px;
  }  
}

@media screen and (max-width: 900px) {
  .privilege {
    max-width: 640px;
  }

  .privilege__title {
    font-size: 22px;
  }

  .privilege__nav {
    margin-top: 30px;
    padding-bottom: 40px; 
  }
  
  .privilege__button {
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }  
}

@media screen and (max-width: 640px) {
  .privilege {
    max-width: 289px;
  }
  
  .privilege__title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  
  .privilege__title {
    font-size: 20px;
  }

  .privilege__nav {
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5px;
    padding-bottom: 20px;
    margin-top: 0;
  }
  
} 
