.about {
  margin: 0 auto 0;
  max-width: 1600px;
  width: 99.5%;;
  height: 620px;
  display: flex;
  justify-content: space-between;
  background-color: #94C31F;
  /* outline: 1px solid red; */
}

.about__info-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10%;
  height: 100%;
  width: 100%;
  background-image: url(../../images/gradient.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right;
  /* outline: 1px solid red ; */
}

.about__title {
  width: 60%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  color: #FFFFFF;
  /* outline: 1px solid red; */
}


.about__foto {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
}

.about__text {
  width: 60%;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  /* outline: 1px solid red; */
}

.about__text:first-of-type{
  margin-top: 10px;
}

.about__text:last-of-type{
  margin-top: 30px;
}

.about__href {
  text-decoration: none;
  margin-top: 60px;
  border: none;
  width: 291px;
  height: 94px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  background-color:#ade22f;
}

.about__href-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  /* .about__foto {
    width: 70%;
  }   */
}  

/* @media screen and (max-width: 1400px) {
  .about__info-container {
    padding-left: 5%;
  }  
}   */

@media screen and (max-width: 1400px) {
  .about__info-container {
    padding-left: 1%;
  }  
}  

@media screen and (max-width: 1280px) {
  .about {
    max-width: 900px;
    height: 380px;
  }
  
  .about__foto {
    width: 50%;
    height: 100%;
  }
  
  .about__info-container {
    padding-left: 30px;
  }
  .about__href {
    margin-top: 25px;
  }
  
  .about__title{
    width: 90%;
  }

  .about__text{
    width: 90%;
  }

  .about__text:first-of-type{
    margin-top: 20px;
    font-size: 16px;
  }

  .about__text:last-of-type {
    margin-top: 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    max-width: 320px;
    height: 500px;
  }

  .about__info-container {
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }  
  
  .about__foto {
    display: none;
  }

  .about__href {
    width: 182px;
    height: 59px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  
  .about__title{
    /* width: 90%; */
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .about__text{
    font-weight: 400;
    line-height: 18px;
  }

  .about__text:first-of-type{
    /* padding-bottom: 70px; */
    margin-top: 10px;
    font-size: 15px;
  }

  .about__text:last-of-type {
    margin-bottom: 100px;
    margin-top: 0;
    font-size: 19px;
  }
}