.problem {
    margin: 0 auto 0;
    max-width: 1280px;
    background-color: #fff;
  }
  
  .problem__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .problem__title {
    margin: 35px 0 0 ;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 27px;
    color: #94C31F;
  }
  
  .problem__nav {
    margin-top: 45px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between; 
  }
  
  .problem__button {
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 75px;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #C6C6C6;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .problem__button-gradient {
    background-color: #94C31F;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    color: black;
  }
  
  .problem__link {
    color: #fff;
    text-decoration: none;
    z-index: 1;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }
  
  .problem__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease 0s;
  }
  
  @media screen and (max-width: 1350px) {
    .problem {
      max-width: 1080px;
    }
    
    .problem__title {
      font-size: 27px;
    }
    
    .problem__nav {
      margin-top: 40px;
      padding-bottom: 25px; 
    }
    
    .problem__button {
      width: 320px;
      height: 65px;
      font-size: 15px;    
    }
    
  }
  
  @media screen and (max-width: 1280px) {
    .problem {
      max-width: 768px;
    }
    
    .problem__title {
      font-size: 22px;
    }
    
    .problem__nav {
      margin-top: 35px;
      padding-bottom: 35px; 
    }
    
    .problem__button {
      width: 240px;
      height: 50px;
      font-size: 12px;    
    }
  }
  
  @media screen and (max-width: 900px) {
    .problem {
      max-width: 640px;
    }
    
    .problem__title {
      font-size: 18px;
    }
    
    .problem__nav {
      margin-top: 35px;
      padding-bottom: 35px; 
    }
    
    .problem__button {
      width: 200px;
      font-size: 10px;    
    }
  }

  @media screen and (max-width: 640px) {
    .problem {
      max-width: 320px;
    }
    
    .problem__container {
      flex-direction: column;
      align-items: center;
      align-self: center;
    }

    .problem__title {
      font-size: 16px;
      text-align: center;
    }
    
    .problem__nav {
      flex-direction: column;
      margin-top: 35px;
      padding-bottom: 15px; 
      gap: 10px;
      align-items: center;
      
    }
    
    .problem__button {
      width: 320px;
      height: 50px;
      font-size: 12px;    
    }
  }