.problem {
    margin: 0 auto 0;
    max-width: 1280px;
    min-width: 320px;
    background-color: #fff;
  }
  
  .problem__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .problem__title-container {
    margin: 110px auto 0;
    padding-bottom: 45px;
    text-align: left;
    width: 1140px;
    border-bottom: 1px solid #DADADA;
  } */
  
  .problem__title {
    margin: 35px 0 0 ;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 27px;
    color: #94C31F;
    /* outline: 1px solid red ; */
  }
  
  .problem__nav {
    margin-top: 45px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    /* outline: 1px solid red; */ 
  }
  
  .problem__button {
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 75px;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .problem__button-gradient {
    background-color: #94C31F;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .problem__link {
    color: #fff;
    text-decoration: none;
    z-index: 1;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }
  
  .problem__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease 0s;
  }
  
  @media screen and (max-width: 1080px) {
    .problem__description {
      width: 425px;
      margin-top: 20px;
      font-size: 12px;
      line-height: 18px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .problem {
      padding: 0 50px 0;
    }
  
    .problem__title-container {
      width: 670px;
      margin-top: 90px;
      padding-bottom: 22px;
    }
  
    .problem__name {
      width: 348px;
      margin-top: 66px;
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
    }
    
    .problem__about {
      width: 348px;
      margin-top: 16px;
      font-size: 12px;
      line-height: 18px;
    }
    
    .problem__description {
      width: 292px;
    }
  
    .problem__foto {
      width: 255px;
      height: 307px;
      bottom: 65px;
    }
  }
  
  @media screen and (max-width: 1350px) {
    .problem {
      max-width: 1080px;
    }
    
    .problem__title {
      font-size: 27px;
    }
    
    .problem__nav {
      margin-top: 40px;
      padding-bottom: 25px; 
    }
    
    .problem__button {
      width: 320px;
      height: 65px;
      font-size: 15px;    
    }
    
  }
  
  @media screen and (max-width: 1280px) {
    .problem {
      max-width: 768px;
    }
    
    .problem__title {
      font-size: 22px;
    }
    
    .problem__nav {
      margin-top: 35px;
      padding-bottom: 35px; 
    }
    
    .problem__button {
      width: 240px;
      height: 50px;
      font-size: 12px;    
    }
  }

  @media screen and (max-width: 640px) {
    .problem {
      max-width: 288px;
    }
    
    .problem__title {
      font-size: 22px;
    }
    
    .problem__nav {
      margin-top: 35px;
      padding-bottom: 35px; 
    }
    
    .problem__button {
      width: 240px;
      height: 50px;
      font-size: 12px;    
    }
  }