.footer {
  margin: 0 auto 0;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 292px;
}

.footer__title {
  margin: 150px auto 0;
  color: #94C31F;
  font-weight: 500;
  font-size: 32px;
  line-height: 27px;
}

.footer__text {
  margin: 62px auto 0;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__contact-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__contact-container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__href {
  cursor: pointer;
  margin: 16px 0 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.footer__img-container {
  width: 112px;
  display: flex;
  justify-content: space-between;
}

.footer__face-img {
  background-image: url('../../images/faceboock.svg');
  width: 24px;
  height: 24px;
}

.footer__inst-img {
  background-image: url('../../images/insta.svg');
  width: 24px;
  height: 24px;
}

.footer__twit-img {
  background-image: url('../../images/twiter.svg');
  width: 24px;
  height: 24px;
}

.footer__link {
  width: 24px;
  height: 24px;
}

.footer__iframe {
  margin-top: 40px;
  width: 1000px;
  height: 400px;
}

.footer__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease 0s;
}

 @media screen and (max-width: 1350px) {
  .footer {
    max-width: 768px;
  }
  
  .footer__title {
    margin: 125px auto 0;
    color: #94C31F;
    font-weight: 500;
    font-size: 32px;
    line-height: 27px;
  }

  .footer__text {
    margin: 45px auto 0;
  }
  
  .footer__contact-container {
    margin-top: 45px;
  }

  .footer__iframe {
    margin-top: 30px;
    width: 768px;
    height: 375px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 640px;
  }

  .footer__title {
    margin: 100px auto 0;
    color: #94C31F;
    font-weight: 500;
    font-size: 32px;
    line-height: 27px;
  }

  .footer__text {
    margin: 30px auto 0;
  }
  
  .footer__contact-container {
    margin-top: 25px;
  }

  .footer__iframe {
    margin-top: 25px;
    width: 640px;
    height: 350px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    max-width: 288px;
  }

  .footer__title {
    margin: 100px auto 0;
    color: #94C31F;
    font-weight: 500;
    font-size: 27px;
    line-height: 27px;
  }

  .footer__text {
    margin: 30px auto 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  
  .footer__contact-container {
    margin-top: 25px;
    flex-direction: column;
  }

  .footer__contact-container-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__img-container {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }

  .footer__iframe {
    margin-top: 25px;
    width: 300px;
    height: 375px;
  }
}
/*
@media screen and (max-width: 900px) {
  .footer {
    max-width: 710px;
  }

  .footer__title {
    margin-top: 80px;
  }
}

@media screen and (max-width: 645px) {
  .footer {
    max-width: 292px;
    padding-bottom: 36px;
    margin-top: 0;
    text-align: center;
  }
  
  .footer__title {
    margin-top: 80px;
    width: 292px;
    font-size: 12px;
    line-height: 14.5px;
  }
  
  .footer__nav-container {
    flex-direction:column-reverse;
    gap: 30px;
    height: 145px;
    width: 292px;
  }
  
  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 14.5px;
  }
} */