.card-problem {
    display: flex;
    border-radius: 6px;
    gap: 60px;
    /* outline: 1px solid red; */
  }
  
  .card-problem__ul {
    list-style: none;
    counter-reset: list;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
  }
  .card-problem__text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  
  .card__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-problem__image {
    background-size: cover;
    background-repeat: no-repeat;
    /* outline: 1px solid red; */
  }
  
  .card-problem__text {
    margin: 0;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    /* outline: 1px solid red; */
  }
  
  .card-problem__text-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  
  /* @media screen and (max-width: 645px) {
    .card__title {
      font-size: 12px;
      margin-left: 14px;
    }
  
    .card__time {
      font-size: 10px;
      margin-right: 14px;
    }
  
    .card__text-container {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  
    .card__button {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  } */